[defaults]
inventory=inventory.yml
jinja2_extensions = jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n

# I added these timeouts per Grok because I couldn't do a deploy.
timeout = 180               ; connection timeout

[arista.eos.eos_command]
timeout = 180               ; per-command timeout

[arista.eos.eos_config]
timeout = 180

[arista.eos.eos_facts]
timeout = 180

[arista.eos.eos]
timeout = 180               ; general module timeout